In [1]:
import pymysql
pymysql.__version__

'1.4.6'

In [2]:
db = pymysql.connect(
    host='localhost', 
    user='root', 
    password='CocacolC123!',
    database='trading_sim'
)
print(db)

cur = db.cursor()
print(cur)

<pymysql.connections.Connection object at 0x000001A81B39A9F0>
<pymysql.cursors.Cursor object at 0x000001A81B2EEDB0>

In [ ]:
#cur.execute('CREATE DATABASE testdb')
cur.execute('SHOW DATABASES') #toont alle databases waar je toegang tot hebt op de mysql server ondanks connectie met trading_sim
for base in cur:
    print(base)
print()

#cur.execute('CREATE TABLE clients (name VARCHAR(25), age INT(4))')
cur.execute('SHOW TABLES')
for table in cur:
    print(table)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('testdb',)
('trading_sim',)
('world',)

('clients',)
('users',)

In [ ]:
#buitenste string moet met dubbele quotes
cur.execute("INSERT INTO clients (name, age) VALUES ('bob', 13)")
db.commit()

In [ ]:
cur.execute("SHOW COLUMNS FROM CLIENTS")
columns = cur.fetchall() #alternatieve methode
for column in columns:
    print(column)

('name', 'varchar(25)', 'YES', '', None, '')
('age', 'int', 'YES', '', None, '')

In [5]:
cur.execute('SELECT * FROM CLIENTS')
lijst = []
for row in cur:
    lijst.append(row)
    print(row)

('alice', 30)
('bob', 13)
('Simon', 5)
('Simon', 6)
('Jekke', 7)
('Jekkkeeuh', 77)
('RRooie', 77)

In [10]:
if ('RRooie', 77) in lijst:
    print('good boy!')
else:
    print('neinnnnn!')

good boy!

In [13]:
cur.execute('SELECT * FROM CLIENTS WHERE name = %s AND age = %s', ('RRooie',77))

if ('RRooie', 77) in cur:
    print('yeah buddy!')

yeah buddy!

In [14]:
import pymysql

In [17]:
db = pymysql.connect(
    user='root',
    database='trading_sim',
    password='CocacolC123!',
    host='localhost'
)
cur = db.cursor()

In [ ]:
cur.execute('''
    CREATE TABLE INVESTORS (
    investor_ID INT UNSIGNED AUTO_INCREMENT PRIMARY KEY, 
    first_name VARCHAR(10), 
    last_name VARCHAR(10), 
    age INT(2),
    study VARCHAR(30), 
    email VARCHAR(30), 
    password VARCHAR(25), 
    repeat_password VARCHAR(25)
    )
''')
db.commit()

In [35]:
(first_name_signup, last_name_signup, age_signup, fieldOfStudy_signup, email_signup, password_signup, repeat_password_signup) = (
    'Simon',
    'Lipperts',
    20,
    'Hirb',
    'simon.lipperts20@gmail.com',
    'C13',
    'C13'
)

In [ ]:
cur.execute('INSERT INTO INVESTORS (first_name, last_name, age, study, email, password, repeat_password) \
                        VALUES (%s, %s, %s, %s, %s, %s, %s)',(first_name_signup, last_name_signup, age_signup, 
                                                          fieldOfStudy_signup, email_signup, password_signup, repeat_password_signup))
db.commit()

TypeError: %d format: a real number is required, not str

In [33]:
cur.execute('SELECT * FROM INVESTORS WHERE  \
                    first_name = %s AND last_name = %s AND \
                    age = %s AND study = %s AND email = %s AND \
                    password = %s AND repeat_password = %s', \
                        (first_name_signup, last_name_signup, int(age_signup), fieldOfStudy_signup, \
                        email_signup, password_signup, repeat_password_signup))

for row in cur:
    print(row)

(1, 'Simon', 'Lipperts', 20, 'Hirb', 'simon.lipperts20@gmail.com', 'C13', 'C13')

In [37]:
cur.execute('''
    ALTER TABLE INVESTORS 
    MODIFY COLUMN age VARCHAR(2),
    MODIFY COLUMN first_name VARCHAR(15),
    MODIFY COLUMN last_name VARCHAR(15),
    MODIFY COLUMN study VARCHAR(50),
    MODIFY COLUMN email VARCHAR(50)
''')
db.commit()

In [38]:
cur.execute('ALTER TABLE INVESTORS ADD COLUMN email_confirmed BOOLEAN DEFAULT FALSE')
db.commit()