In [3]:
import pymysql
pymysql.__version__

'1.4.6'

In [4]:
db = pymysql.connect(
    host='localhost', 
    user='root', 
    password='CocacolC123!',
    database='trading_sim'
)
print(db)

cur = db.cursor()
print(cur)

<pymysql.connections.Connection object at 0x0000021D6BAC4DA0>
<pymysql.cursors.Cursor object at 0x0000021D6B8F8CB0>

In [ ]:
#cur.execute('CREATE DATABASE testdb')
cur.execute('SHOW DATABASES') #toont alle databases waar je toegang tot hebt op de mysql server ondanks connectie met trading_sim
for base in cur:
    print(base)
print()

#cur.execute('CREATE TABLE clients (name VARCHAR(25), age INT(4))')
cur.execute('SHOW TABLES')
for table in cur:
    print(table)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('testdb',)
('trading_sim',)
('world',)

('clients',)
('users',)

In [ ]:
#buitenste string moet met dubbele quotes
cur.execute("INSERT INTO clients (name, age) VALUES ('bob', 13)")
db.commit()

In [ ]:
cur.execute("SHOW COLUMNS FROM CLIENTS")
columns = cur.fetchall() #alternatieve methode
for column in columns:
    print(column)

('name', 'varchar(25)', 'YES', '', None, '')
('age', 'int', 'YES', '', None, '')